<!DOCTYPE html>
<html lang="en" class="no-js">

    {{- partial "head.html" . -}}

<body class="is-boxed has-animations">

    {{- partial "header.html" . -}}

        <main>
			<section class="newsletter section">
                <div class="container-sm">
                    <div class="newsletter-inner section-inner">
                        <div class="newsletter-header text-center">
                            <h2 class="section-title mt-0">Error 404. Esta página no existe</h2>
                            <p class="section-paragraph">Aquí no hay contenido, si ha sido un error, por favor,
                                 haga clic en el botón para volver a inicio.</p>
                                 <a class="button button-primary button-block button-shadow" href="/">VOLVER A LA PÁGINA DE INICIO</a>
                        </div>
                        
                    </div>
                </div>
            </section>
        </main>

        {{- partial "footer.html" . -}}

</body>
</html>
